/* Importar la fuente de Google */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

/* Configuración de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------- */
/* ----- Custom properties --------- */
/* --------------------------------- */
:root {
    --main-color: #333333;
    --dark-bg: #1a1a1a;
    --sub-color: #E3E3E3;
    --contrast-color: #e9f76b;
    --sub-contrast: #0021D7;
}

/* ----------- Dark mode ----------- */
.dark {
    --main-color: #E3E3E3;
    --dark-bg: #f0f0f0; /* Un gris un poco más oscuro que el blanco puro */
    --sub-color: #1a1a1a;
    --contrast-color: #333333;
    --sub-contrast: #e9f76b;
}

/* ---------- Body reset ----------- */
body {
    /*@apply min-h-screen text-base text-sub-color bg-main-color leading-relax;*/
    font-family: 'Spartan', sans-serif;
}
 
/* -- Scroll movement html reset --- */
html {
    scroll-behavior: smooth;
}

/* Estilos para el grid general de la aplicación */
.gridContainer {
    /*@apply grid min-h-screen;*/
    grid-template-rows: auto 1fr auto;
}